SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=stackbridge_ts
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ALGORITHM=HS256
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_DAYS=30
